[submodule "vendor/grammars/tree-sitter-solidity"]
	path = vendor/grammars/tree-sitter-solidity
	url = git@github.com:JoranHonig/tree-sitter-solidity.git
[submodule "vendor/grammars/tree-sitter-java"]
	path = vendor/grammars/tree-sitter-java
	url = git@github.com:tree-sitter/tree-sitter-java.git
[submodule "vendor/grammars/tree-sitter-cpp"]
	path = vendor/grammars/tree-sitter-cpp
	url = git@github.com:tree-sitter/tree-sitter-cpp.git
[submodule "vendor/grammars/tree-sitter-rust"]
	path = vendor/grammars/tree-sitter-rust
	url = git@github.com:tree-sitter/tree-sitter-rust.git
[submodule "vendor/grammars/tree-sitter-go"]
	path = vendor/grammars/tree-sitter-go
	url = git@github.com:tree-sitter/tree-sitter-go.git
[submodule "vendor/grammars/tree-sitter-cairo"]
	path = vendor/grammars/tree-sitter-cairo
	url = git@github.com:starkware-libs/tree-sitter-cairo.git
[submodule "vendor/grammars/tree-sitter-move-sui"]
	path = vendor/grammars/tree-sitter-move-sui
	url = git@github.com:poelzi/tree-sitter-move-sui.git
[submodule "vendor/grammars/tree-sitter-noir"]
	path = vendor/grammars/tree-sitter-noir
	url = git@github.com:tsujp/tree_sitter_noir.git
[submodule "vendor/grammars/tree-sitter-tolk"]
	path = vendor/grammars/tree-sitter-tolk
	url = git@github.com:ton-blockchain/tree-sitter-tolk.git
[submodule "vendor/grammars/tree-sitter-compact"]
	path = vendor/grammars/tree-sitter-compact
	url = git@github.com:midnightntwrk/compact-tree-sitter.git
